.latest-posts {

    &__container {
        margin-top: 80px;
        & > .section-subtitle,
        & > .section-title {
            text-align: center;
        }

        &:hover {
            .chevron {
                opacity: 1;
            }
        }

    }


    .post-single {

        &__thumbnail {
            height: 220px;
            display: flex;
            overflow: hidden;
            img {
                object-fit: cover;
                transition: all ease-in-out 250ms;
            }
        }

        &__title {
            & > a {
                font-weight: 400;
                font-size: 20px;
                color: #333;
            }
            margin: 20px 0;
        }

        &__date {
            color: #686868;
            font-size: 15px;
            margin: 20px 0;
        }

        &__excerpt {
            color: #686868;
            font-size: 15px;
            line-height: 22px;
            margin: 20px 0;
        }

        &__footer {
            a {
                display: flex;
                align-items: center;
                color: #686868;
                transition: all ease-in-out 250ms;
            }
        }

        &:hover {

            .post-single__thumbnail {
                img {
                    transform: scale(1.1);
                }
            }

            .post-single__footer {
                a {
                    svg {
                        path {
                            fill: $primary-color;
                        }
                    }
                }
            }

        }

    }

}


.posts-slider__container {
    margin-top: 40px;
    position: relative;

    .chevron svg path { stroke: #333; }

    /* the slides */
    .slick-slide {
        margin: 0 25px;
    }

    /* the parent */
    .slick-list {
        margin: 0 -25px;
    }

    .chevron {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all ease-in-out 150ms;
        opacity: 0;
        cursor: pointer;

        &-next {
            right: -50px;
        }

        &-prev {
            left: -50px;
        }

    }
}