.products {

    &__container {
        margin-top: 80px;
        .section-title,
        .section-subtitle {
            text-align: center;
        }

        &:hover {
            .chevron {
                opacity: 1;
            }
        }
    }

    &-slider {

        &__container {
            margin-top: 40px;

            /* the slides */
            .slick-slide {
                margin: 0 15px;
                display: flex !important;
                flex-direction: column !important;
            }

            /* the parent */
            .slick-list {
                margin: 0 -15px;
            }

            .chevron svg path { stroke: #333; }

            position: relative;

            .chevron {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: all ease-in-out 150ms;
                opacity: 0;
                cursor: pointer;
                @media screen and (max-width: 1440px) {
                    top: -30px;
                    // opacity: 1;
                }

                &-next {
                    right: -50px;
                    @media screen and (max-width: 1440px) {
                        right: 5px;
                    }
                }

                &-prev {
                    left: -50px;
                    @media screen and (max-width: 1440px) {
                        left: auto;
                        right: 45px;
                    }
                }

            }
        }

    }

}