* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: bahnschrift;
    text-rendering: optimizeLegibility;
}

address {
    font-style: normal;
}

img {
    width: 100%;
}